In [ ]:
import pandas as pd
from pathlib import Path
import pandas as pd

base = Path("/Users/andyburnett/Library/Mobile Documents/com~apple~CloudDocs/Desktop/X03.27.25/Coding_Practice/projects/faa_data")

input_file = base / "faa_min.csv"
output_file = base / "faa_cln.xlsx" # For examining full FAA dataset
kit_output_file = base / "faa_kit_data.xlsx"  # Become input file for kits.ipynb

df = pd.read_csv(input_file)

df.columns

/var/folders/z9/4yg2bxhd77z407m0mn8rmkdr0000gn/T/ipykernel_97962/1643694773.py:11: DtypeWarning: Columns (36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(input_file)

Index(['N-NUMBER', 'SERIAL NUMBER', 'MFR MDL CODE', 'MFR', 'MODEL',
       'TYPE-ACFT', 'NO-SEATS', 'AC-WEIGHT', 'SPEED', 'YEAR MFR', 'TYPE-ENG',
       'AC-CAT', 'NO-ENG', 'ENG MFR MDL', 'TYPE REGISTRANT', 'NAME', 'STREET',
       'STREET2', 'CITY', 'STATE', 'ZIP CODE', 'Column2', 'REGION', 'COUNTY',
       'COUNTRY', 'LAST ACTION DATE', 'CERT ISSUE DATE', 'CERTIFICATION',
       'TYPE AIRCRAFT', 'STATUS CODE', 'MODE S CODE', 'FRACT OWNER',
       'AIR WORTH DATE', 'OTHER NAMES(1)', 'OTHER NAMES(2)', 'OTHER NAMES(3)',
       'OTHER NAMES(4)', 'OTHER NAMES(5)', 'EXPIRATION DATE', 'UNIQUE ID',
       'KIT MFR', ' KIT MODEL', 'MODE S CODE HEX', 'Column1'],
      dtype='object')

In [162]:
df.drop(columns=['Column1'], inplace=True)

df.head()

,N-NUMBER,SERIAL NUMBER,MFR MDL CODE,MFR,MODEL,TYPE-ACFT,NO-SEATS,AC-WEIGHT,SPEED,YEAR MFR,...,OTHER NAMES(1),OTHER NAMES(2),OTHER NAMES(3),OTHER NAMES(4),OTHER NAMES(5),EXPIRATION DATE,UNIQUE ID,KIT MFR,KIT MODEL,MODE S CODE HEX
0,4699T,18051399,130071T,BENSEN GYROPLANE,B-8MEJ,6,1,CLASS 1,45,1965.0,...,NaN,NaN,NaN,NaN,NaN,NaN,148078,NaN,NaN,A5BEAF
1,9789E,180-52289,191102,AERONCA,11AC,4,2,CLASS 1,75,1946.0,...,NaN,NaN,NaN,NaN,NaN,NaN,374298,NaN,NaN,ADA4F5
2,1376E,17254871,2110102,AERONCA,7AC,4,2,CLASS 1,90,1946.0,...,NaN,NaN,NaN,NaN,NaN,NaN,12078,NaN,NaN,A09861
3,63043,RX8-3072,2420222,CONSOLIDATED VULTEE,BT-13,4,2,CLASS 1,108,1942.0,...,NaN,NaN,NaN,NaN,NaN,NaN,224608,NaN,NaN,A840BC
4,9545C,22-6462,2421302,CONSOLIDATED VULTEE,PBY-6A,5,4,CLASS 3,127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,366118,NaN,NaN,AD468D

In [163]:
df.columns

Index(['N-NUMBER', 'SERIAL NUMBER', 'MFR MDL CODE', 'MFR', 'MODEL',
       'TYPE-ACFT', 'NO-SEATS', 'AC-WEIGHT', 'SPEED', 'YEAR MFR', 'TYPE-ENG',
       'AC-CAT', 'NO-ENG', 'ENG MFR MDL', 'TYPE REGISTRANT', 'NAME', 'STREET',
       'STREET2', 'CITY', 'STATE', 'ZIP CODE', 'Column2', 'REGION', 'COUNTY',
       'COUNTRY', 'LAST ACTION DATE', 'CERT ISSUE DATE', 'CERTIFICATION',
       'TYPE AIRCRAFT', 'STATUS CODE', 'MODE S CODE', 'FRACT OWNER',
       'AIR WORTH DATE', 'OTHER NAMES(1)', 'OTHER NAMES(2)', 'OTHER NAMES(3)',
       'OTHER NAMES(4)', 'OTHER NAMES(5)', 'EXPIRATION DATE', 'UNIQUE ID',
       'KIT MFR', ' KIT MODEL', 'MODE S CODE HEX'],
      dtype='object')

In [164]:
df = df[df['COUNTRY'] == 'US']
df.reset_index(drop=True, inplace=True)
print(df['COUNTRY'].unique)

<bound method Series.unique of 0         US
1         US
2         US
3         US
4         US
          ..
301623    US
301624    US
301625    US
301626    US
301627    US
Name: COUNTRY, Length: 301628, dtype: object>

In [165]:
df.columns

Index(['N-NUMBER', 'SERIAL NUMBER', 'MFR MDL CODE', 'MFR', 'MODEL',
       'TYPE-ACFT', 'NO-SEATS', 'AC-WEIGHT', 'SPEED', 'YEAR MFR', 'TYPE-ENG',
       'AC-CAT', 'NO-ENG', 'ENG MFR MDL', 'TYPE REGISTRANT', 'NAME', 'STREET',
       'STREET2', 'CITY', 'STATE', 'ZIP CODE', 'Column2', 'REGION', 'COUNTY',
       'COUNTRY', 'LAST ACTION DATE', 'CERT ISSUE DATE', 'CERTIFICATION',
       'TYPE AIRCRAFT', 'STATUS CODE', 'MODE S CODE', 'FRACT OWNER',
       'AIR WORTH DATE', 'OTHER NAMES(1)', 'OTHER NAMES(2)', 'OTHER NAMES(3)',
       'OTHER NAMES(4)', 'OTHER NAMES(5)', 'EXPIRATION DATE', 'UNIQUE ID',
       'KIT MFR', ' KIT MODEL', 'MODE S CODE HEX'],
      dtype='object')

In [166]:

df.rename(columns={'Column2': 'ZIP_MIN'}, inplace=True)
df.rename(columns={'KIT MFR': 'KITMFG'}, inplace=True)
df.rename(columns={' KIT MODEL': 'KITMDL'}, inplace=True)
df.drop(columns=['ZIP CODE'], inplace=True)
df.columns

Index(['N-NUMBER', 'SERIAL NUMBER', 'MFR MDL CODE', 'MFR', 'MODEL',
       'TYPE-ACFT', 'NO-SEATS', 'AC-WEIGHT', 'SPEED', 'YEAR MFR', 'TYPE-ENG',
       'AC-CAT', 'NO-ENG', 'ENG MFR MDL', 'TYPE REGISTRANT', 'NAME', 'STREET',
       'STREET2', 'CITY', 'STATE', 'ZIP_MIN', 'REGION', 'COUNTY', 'COUNTRY',
       'LAST ACTION DATE', 'CERT ISSUE DATE', 'CERTIFICATION', 'TYPE AIRCRAFT',
       'STATUS CODE', 'MODE S CODE', 'FRACT OWNER', 'AIR WORTH DATE',
       'OTHER NAMES(1)', 'OTHER NAMES(2)', 'OTHER NAMES(3)', 'OTHER NAMES(4)',
       'OTHER NAMES(5)', 'EXPIRATION DATE', 'UNIQUE ID', 'KITMFG', 'KITMDL',
       'MODE S CODE HEX'],
      dtype='object')

In [167]:
df['KITMDL'].nunique()

1075

In [168]:
df['KITMFG'].nunique()

538

In [169]:
# ✅ Create KIT-specific dataset (only rows with KITMFG or KITMDL filled)
kit_df = df[(df['KITMFG'].notna()) | (df['KITMDL'].notna())].copy()

# Reset index for neatness
kit_df.reset_index(drop=True, inplace=True)

# Save to Excel
kit_df.to_excel(kit_output_file, index=False)

print(f"Cleaned dataset saved to: {output_file}")
print(f"KIT data saved to: {kit_output_file}")

Cleaned dataset saved to: /Users/andyburnett/Library/Mobile Documents/com~apple~CloudDocs/Desktop/X03.27.25/Coding_Practice/projects/faa_data/faa_cln.xlsx
KIT data saved to: /Users/andyburnett/Library/Mobile Documents/com~apple~CloudDocs/Desktop/X03.27.25/Coding_Practice/projects/faa_data/faa_kit_data.xlsx